{{#let (service/external-source item) as |externalSource| }}
  {{#if externalSource }}
    <li class="source-list-item source-{{externalSource}}">
      <span>Synced from {{externalSource}}</span>
    </li>
  {{/if}}
{{/let}}
